__pycache__/
*.pyc
.venv
.venv/
.pytest_cache/
node_modules
node_modules/
frontend/node_modules
frontend/node_modules/
data/
testbed/strongswan/pcaps/*.pcap
testbed/strongswan/pki/*.pem
testbed/strongswan/pki/*/*.pem
reports/
*.log
.DS_Store
